<!DOCTYPE html>
<html>
    <head>
	<meta charset="UTF-8">
	<!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
	<link href="../styles/indexStyles.css" rel="stylesheet">
	<title>Hello World!</title>
    </head>
    <body>
	<h1>Fit-connect</h1>

	<div class="index__box">
	    <h2>Welcome!</h2>
	    <form>
		<button>
		    <a href ="signup.html">
			Sign up
		    </a>

		</button>

		<button type="button">
		    <a href ="login.html">
			Log in
		    </a>

		</button>
	    </form>
	</div>



    </body>
</html>
