<!DOCTYPE html>
<html>
    <head>
	<meta charset="UTF-8">
	<!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
	<link href="../styles/loginStyles.css" rel="stylesheet">	
	<title>Log in</title>
    </head>
    <body>
	<h3><a href="index.html">Back</a></h3>

	<div class="login__box">
	    <h1>Log In</h1>
	    <form>
		<label for="email">Enter email:</label>
		<input type="text" id="email-input" placeholder="Email"><br><br>
		<label for="password">Enter password:</label>
		<input type="password" id="password-input" placeholder="Password"><br><br>
		<button id="login-btn">Login!</button>
	    </form>
	</div>

	<script src="../scripts/login.js"></script>
    </body>
</html>
