<!DOCTYPE html>
<html>
    <head>
	<meta charset="UTF-8">
	<!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
	<link href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"/>
	<link id="style-sheet" href="../styles/lightStyles.css" rel="stylesheet">

	<title>Fit Connect - Settings</title>
    </head>
    <body>
	<nav class="navbar">
	    <div class="navbar__container">
		<a href="popular.html" id="navbar__main">
		    Feed
		</a>

		<ul class="navbar__menu">
		    <li class="navbar__item">
			<a href="profile.html" class="navbar__links">
			    Profile
			</a>
		    </li>
		    <li class="navbar__item">
			<a href="notifications.html" class="navbar__links">
			    Notifications
			</a>
		    </li>
		    <li class="navbar__item">
			<a href="messages.html" class="navbar__links">
			    Messages
			</a>
		    </li>
		    <li class="navbar__item">
			<a href="settings.html" class="navbar__links">
			    Settings
			</a>
		    </li>
		    <li class= "navbar__button">
			<a href="index.html" class="button">
			    Log out
			</a>
		    </li>
		    <li class = "navbar__button">
			<a id="switch" class="button">Switch Theme</a>

		    </li>
		</ul>
	    </div>
	</nav>

	<div id="delete-users-div"></div>

	<h1 >Change Username</h1> <br>

	<form>
	    <label for="name-input">New Username:</label>
	    <input type="text" id="change-name-input" placeholder="User Name" required><br>
	    <label for="password">Enter Password:</label>
	    <input type="password" id="change-name-password-input" placeholder="Password" required><br>
	    <br> <button id="change-name-btn">Change Username</button>
	</form>

	<br> <hr> <br>

	<h1 >Change Gym Goals</h1> <br>

	<form >
		<label for="goals-current">Current Goals:</label>
		<p id="goals-current ">Current Goals</p>
	    <label for="change-goals-input">New Goals:</label>
	    <input type="text" id="change-goals-input" placeholder="Enter Goals" required><br>
	    <br> <button id="change-goals-btn">Change Goals</button>
	</form>

	<hr> <br>

	<h1>Delete Account</h1> <br>

	<form>
	    <label for="delete-password-input">Password:</label>
	    <input type="password" id="delete-password-input" placeholder="Password" required><br>
	    <br> <button id="delete-account-btn">Delete</button>
	</form>

	<!-- You can also require other files to run in this process -->
	<script defer src="../scripts/server.js"></script>

	<script defer src="../scripts/settings.js"></script>
	<script defer src="../scripts/theme.js"></script>
    </body>


</html>

