<!DOCTYPE html>
<html>
    <head>
	<meta charset="UTF-8">
	<!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
	<meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'; style-src 'self' 'unsafe-inline'">
	<link href="./styles.css" rel="stylesheet">
	<title>Hello World!</title>
    </head>
    <body>

	<h1>Home</h1>

	<a href="index.html"> Home</a>
	<a href="profile.html"> Profile</a>
	<a href="popular.html"> Popular</a>
	<a href="messages.html"> Messages</a>
	<a href="notifications.html"> Notifications</a>
	<a href="settings.html"> Settings</a>
	<a href="login.html">Login</a>
	<a href="signup.html">Sign Up</a>
    </body>
</html>
