<!DOCTYPE html>
<html>
    <head>
	<meta charset="UTF-8">
	<!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
	<meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'; style-src 'self' 'unsafe-inline'">
	<link href="../styles.css" rel="stylesheet">
	<title>Sign Up</title>
    </head>
    <body>
	<h3><a href="index.html">Back</a></h3>
	<h1>Sign Up</h1>
	<div>
	    <input type="text" id="email" placeholder="Email or User Name"><br>
	    <input type="password" id="password" placeholder="Password"><br>
	    <button>Login!</button>
	</div>

	<script src="../scripts/renderer.js"></script>
    </body>
</html>
