<!DOCTYPE html>
<html>
    <head>
	<meta charset="UTF-8">
	<!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
	<meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'; style-src 'self' 'unsafe-inline'">
	<link href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"/>
	<link href="./styles.css" rel="stylesheet">
	<title>Fit Connect</title>
    </head>
    <body>
	<h1>Popular</h1>
	<a href="index.html"> Home</a>
	<a href="profile.html"> Profile</a>
	<a href="popular.html"> Popular</a>
	<a href="messages.html"> Messages</a>
	<a href="notifications.html"> Notifications</a>
	<a href="settings.html"> Settings</a>
	<a href="login.html">Login</a>
	<a href="signup.html">Sign Up</a>
	<!-- You can also require other files to run in this process -->
	<script defer src="./renderer.js"></script>
    </body>
</html>
